<div class="entry-intro">
  {{markdown-to-html (body-without-lede entry.description) class='description'}}
</div>

{{#if entry.staticProperties}}
  {{#each-in entry.staticProperties as |name property|}}
    {{#-ui/docs/api-body/-member version=version entry=property}}
      {{-ui/docs/api-body/-member-property version=version property=property}}
    {{/-ui/docs/api-body/-member}}
  {{/each-in}}
{{/if}}

{{#if entry.staticMethods}}
  {{#each-in entry.staticMethods as |name method|}}
    {{#-ui/docs/api-body/-member version=version entry=method}}
      {{-ui/docs/api-body/-member-method version=version method=method}}
    {{/-ui/docs/api-body/-member}}
  {{/each-in}}
{{/if}}

{{#if entry.properties}}
  {{#each-in entry.properties as |name property|}}
    {{#-ui/docs/api-body/-member version=version entry=property}}
      {{-ui/docs/api-body/-member-property version=version property=property}}
    {{/-ui/docs/api-body/-member}}
  {{/each-in}}
{{/if}}

{{#if entry.methods}}
  {{#each-in entry.methods as |name method|}}
    {{#-ui/docs/api-body/-member version=version entry=method}}
      {{-ui/docs/api-body/-member-method version=version method=method}}
    {{/-ui/docs/api-body/-member}}
  {{/each-in}}
{{/if}}