{{#-ui/hero}}
  <h1 class="headline">
    Why Denali?
  </h1>
  <p class="subhead">
    Choosing a framework is <strong>tricky business</strong>. Let's run
    through what makes Denali unique, and when it might be <strong>a good
    choice for you</strong>.
  </p>
{{/-ui/hero}}

<div class="features">
  {{#each featureSections as |section|}}
    <div class="feature-section">
      <div class="container">
        <h2 class="feature-section-headline">{{section.headline}}</h2>
        <p class="feature-section-subhead">{{section.subhead}}</p>
      </div>
      <div class="feature-tiles">
        {{#each section.features as |feature|}}
          <div class="feature-tile">
            {{!inline-svg (concat 'images/icons/' feature.icon) class='feature-tile-icon'}}
            <h3 class="headline">
              {{feature.headline}}
            </h3>
            <p class="description">
              {{feature.description}}
            </p>
            {{!-- This silliness is because Ember can't splat :eyeroll: --}}
            {{#if feature.linkModel2}}
              {{#link-to feature.link feature.linkModel1 feature.linkModel2 class='cta-link'}}
                {{feature.linkText}}
                {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
              {{/link-to}}
            {{else if feature.linkModel1}}
              {{#link-to feature.link feature.linkModel1 class='cta-link'}}
                {{feature.linkText}}
                {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
              {{/link-to}}
            {{else}}
              {{#link-to feature.link class='cta-link'}}
                {{feature.linkText}}
                {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
              {{/link-to}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>

<div class="comparison">
  <h1 class="section-header">Framework Comparison</h1>
  <p class="section-subhead">See how Denali stacks up against other popular frameworks, and the pros/cons for each.</p>
  <div class="master-detail">
    <div class="master">
      {{#each comparisons as |comparison index|}}
        <div class="item {{if (eq index activeComparisonIndex) 'active'}}" {{action (mut activeComparisonIndex) index}}>
          <img src="{{comparison.logo}}" alt={{comparison.headline}} class="comparison-logo">
        </div>
      {{/each}}
    </div>
    <div class="detail">
      <h2 class="comparison-headline">
      {{activeComparison.name}}
      </h2>
      <p class="summary">
        {{activeComparison.summary}}
      </p>
      <div class="pros-and-cons">
        <div class="pros">
          <div class="headline">Advantages for Denali</div>
          <ul>
            {{#each activeComparison.pros as |pro|}}
              <li class="pro">{{pro}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="cons">
          <div class="headline">Advantages for {{activeComparison.shortName}}</div>
          <ul>
            {{#each activeComparison.cons as |con|}}
              <li class="con">{{con}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="doctrine">
  <h1 class="section-header">The Denali Doctrine</h1>
  <p class="section-subhead">
    The Rails Doctrine describes how <a href="http://rubyonrails.org/doctrine/">
    technological advantages erode over time</a>. Today's features
    are important, but Denali's vision for tomorrow is just as much so. With
    that in mind, here's a few philosophical points that help guide our
    direction, partially inspired by that same article. Expect these to evolve
    over time.
  </p>

  <ol class="doctrine-points">
    {{#each doctrinePoints as |point|}}
      <li class="doctrine-point">
        <h2 class="title">
          {{point.headline}}
        </h2>
        {{#each point.paragraphs as |graf|}}
          <p class="description">{{graf}}</p>
        {{/each}}
      </li>
    {{/each}}
  </ol>

  <div class="doctrine-footnote">
    Many of these ideas borrow heavily from the philosophies of other great
    frameworks, especially Rails and Ember. We readily admit that we stand
    on the shoulders of those giants.
  </div>
</div>
