{{#if node.children}}
  <div class="group-toggle" {{action (toggle "isGroupExpanded" this)}}>
    {{node.title}}
  </div>
  {{#if isGroupExpanded}}
    <div class="group">
      {{#each node.children as |child|}}
        {{#-ui/nav-list/node parentSlug=slug node=child as |leaf slug|}}
          {{yield leaf slug}}
        {{/-ui/nav-list/node}}
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="leaf">
    {{yield node slug}}
  </div>
{{/if}}