<div class="member-header" data-toc-anchor id="{{slugify method.name}}">
  <div class="signatures">
    <div class="primary signature">
      <div class="method-name">{{method.name}}</div>
      <div class="paren">(</div>
        {{#each primarySignature.parameters as |parameter|}}
          {{-ui/docs/api-body/-value value=parameter}}
        {{/each}}
      <div class="paren">)</div>
      <div class="return">
        {{-ui/docs/api-body/-value value=primarySignature.return forceColon=true}}
      </div>
      {{#if overloads}}
        <div class="overload-count">
          +{{pluralize overloads.length 'overload'}}
        </div>
      {{/if}}
    </div>
    {{#if overloads}}
      <div class="overloads">
        {{#each overloads as |overload|}}
          <div class="signature">
            <div class="method-name">{{method.name}}</div>
            <div class="paren">(</div>
              {{#each overload.parameters as |parameter|}}
                {{-ui/docs/api-body/-value value=parameter}}
              {{/each}}
            <div class="paren">)</div>
            <div class="return">
              {{-ui/docs/api-body/-value value=overload.returns}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  {{-ui/docs/api-body/-flags entry=method}}
</div>

{{markdown-to-html method.description class='method-description'}}

{{#if primarySignature.parameters}}
  <div class="method-parameters">
    <div class="method-section-header">Parameters</div>
    {{#each primarySignature.parameters as |parameter|}}
      <div class="parameter">
        <div class="parameter-name">
          {{-ui/docs/api-body/-value value=parameter}}
        </div>
        <div class="description">
          {{parameter.description}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="method-return">
  <div class="method-section-header">Returns</div>
  {{-ui/docs/api-body/-value value=primarySignature.return}}
  <div class="description">
    {{method.description}}
  </div>
</div>

<div class="source">
  defined in
  <a href="https://github.com/denali-js/denali/blob/v{{version.semver}}/{{method.file}}#L{{method.line}}" target="_blank">
    {{method.file}} on line {{method.line}}
  </a>
</div>
