{{#-ui/hero}}

  {{#-ui/nav-list title='API Reference' root=apiNav class='api-nav' as |node slug|}}
    {{#link-to 'docs.api' version.displayName slug}}
      {{node.title}}
    {{/link-to}}
  {{/-ui/nav-list}}

  {{#if isOverview}}
    {{docs/api/-page/overview-hero docs=docs class='api-hero-overview'}}
  {{else}}
    {{-ui/docs/api-hero entry=api}}
  {{/if}}

{{/-ui/hero}}

{{#if isOverview}}
  {{docs/api/-page/overview docs=docs class='api-body'}}
{{else}}
<div class="api-body">
  {{component kindComponentName entry=api class='api-content'}}
  {{-ui/docs/table-of-contents entries=outlineNav}}
</div>
{{/if}}