{{#-ui/contours-background}}
  <div class="api-hero">
    <div class="api-nav-container">
      {{#sticky-element top=50}}
        {{docs/api/-page/api-nav api=doc.api currentVersion=version.displayName class='api-nav'}}
      {{/sticky-element}}
    </div>
    {{#if isOverview}}
      {{docs/api/-page/overview-hero doc=doc class='apis-hero-intro'}}
    {{else}}
      {{-ui/docs/api-hero entry=api class='apis-hero-intro'}}
    {{/if}}
  </div>
  {{-ui/transition}}
{{/-ui/contours-background}}
<div class="api-main">
  {{#if isOverview}}
    {{docs/api/-page/overview doc=doc}}
  {{else}}
    {{component kindComponentName entry=api class='api-body'}}
    {{-ui/docs/table-of-contents entries=outline}}
  {{/if}}
</div>