<article class="guide-contents">
  <header class="guide-header">
    <h3 class="group">{{guide.group}}</h3>
    <h1 class="title">{{guide.title}}</h1>
    <p class="lede">{{guide.lede}}</p>
  </header>
  {{markdown-to-html guide.formattedBody extensions='create-sections-from-headers' class='guide-body'}}
</article>

{{#sticky-element class='table-of-contents-sticky-wrapper'}}
  {{docs/guides/guide/-page/table-of-contents guide=guide top=50}}
{{/sticky-element}}