<header class="guide-header">
  <h3 class="group">{{guide.group}}</h3>
  <h1 class="title">{{guide.title}}</h1>
  {{markdown-to-html (lede guide.body) class='lede'}}
</header>

{{markdown-to-html (body-without-lede guide.body) extensions='create-sections-from-headers peek-syntax' class='guide-body'}}

{{#sticky-element class='table-of-contents-sticky-wrapper'}}
  {{docs/guides/guide/-page/table-of-contents guide=guide top=50}}
{{/sticky-element}}