{{#liquid-bind activeNavMenu use="docsNav" as |activeMenu|}}

  <div class="menu-toggle" data-nav="version" onclick={{action (action 'toggleNavMenu' 'version')}}>
    {{currentVersion.displayName}}
    {{#if (eq activeMenu 'version')}}
      <div class="menu-dropdown">
        <div class="menu-dropdown-content">
          {{#each versions as |version|}}
            {{#change-route-model-link 'version' version.id}}
              {{version.displayName}}
            {{/change-route-model-link}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="guides" onclick={{action (action 'toggleNavMenu' 'guides')}}>
    Guides 

    {{#if (eq activeMenu 'guides')}}
      <div class="menu-dropdown">
        {{docs/-page/nav/guides guides=guides class='guides menu-dropdown-content'}}
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="api" onclick={{action (action 'toggleNavMenu' 'api')}}>
    API Reference
    {{#if (eq activeMenu 'api')}}
      <div class="menu-dropdown">
        {{docs/-page/nav/api api=api class='api menu-dropdown-content'}}
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="visibility" onclick={{action (action 'toggleNavMenu' 'visibility')}}>
    Visibility Controls
    {{#if (eq activeMenu 'visibility')}}
      <div class="menu-dropdown">
        <div class="menu-dropdown-content">
          
        </div>
      </div>
    {{/if}}
  </div>

  <div class="search">

  </div>

{{/liquid-bind}}