{{#liquid-bind activeNavMenu use="docsNav" as |activeMenu|}}

  <div class="menu-toggle" data-nav="version" {{action (action 'toggleNavMenu' 'version')}}>
    {{currentVersion.displayName}}
    {{#if (eq activeMenu 'version')}}
      <div class="menu-dropdown">
        <div class="menu-dropdown-content">
          {{#each versions as |version|}}
            {{#change-route-model-link 'version' version.id}}
              {{version.displayName}}
            {{/change-route-model-link}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="guides" {{action (action 'toggleNavMenu' 'guides')}}>
    Guides 

    {{#if (eq activeMenu 'guides')}}
      <div class="menu-dropdown">
        <div class="guides menu-dropdown-content">
          <h5 class="menu-header">Guides</h5>
          <p class="menu-subhead">
            In depth walkthroughs of each part of the Denali framework.
          </p>
          <div class="guides-groups">
            {{#each-in guidesByGroup as |groupName guides|}}
              <div class="guides-group">
                <div class="group-header">
                  {{groupName}}
                </div>
                <div class="group-list">
                  {{#each guides as |guide|}}
                    {{#link-to 'docs.guides.guide' guide.slug class='guide-link'}}
                      {{guide.title}}
                    {{/link-to}}
                  {{/each}}
                </div>
              </div>
            {{/each-in}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="api" {{action (action 'toggleNavMenu' 'api')}}>
    API Reference
    {{#if (eq activeMenu 'api')}}
      <div class="menu-dropdown">
        <div class="menu-dropdown-content">
          a-p-who?        
        </div>
      </div>
    {{/if}}
  </div>

  <div class="menu-toggle" data-nav="visibility" {{action (action 'toggleNavMenu' 'visibility')}}>
    Visibility Controls
    {{#if (eq activeMenu 'visibility')}}
      <div class="menu-dropdown">
        <div class="menu-dropdown-content">
          cloak of inheritance        
        </div>
      </div>
    {{/if}}
  </div>

  <div class="search">

  </div>

{{/liquid-bind}}