{{#-ui/hero}}
  <div class="copy">
    <h1 class="headline">
      Ship fast
      <br>
      &amp; scale.
    </h1>
    <p class="subhead">
      A <strong>layered conventions Node.js framework</strong> for
      building <strong>ambitious APIs</strong> with a powerful addon system, best-in-class
      developer experience, and extensive documentation.
    </p>
    <div class="cta">
      {{#link-to 'docs.quickstart' 'latest' class='cta-primary'}}Quickstart{{/link-to}}
      {{#link-to 'features' class='cta-secondary'}}Features{{/link-to}}
    </div>
  </div>

  <div class="terminal-wrapper">
    <div class="terminal">
      <div class="window-controls">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="asciicast-container"></div>
    </div>
  </div>
{{/-ui/hero}}

<div class="features">

  <div class="feature">
    {{inline-svg 'images/icons/open-lock' class='feature-icon'}}
    <h2 class="headline">
      No ORM lock-in
    </h2>
    <p class="description">
      Use whatever database you want. Denali helps you unleash the full
      power of your data store with ORM Adapters, which let you bring your
      own ORM.
    </p>
    {{#link-to 'docs.guide' 'latest' 'data/orm-adapters' class='cta-link'}}
      Learn about ORM Adapters
      {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
    {{/link-to}}
  </div>

  <div class="feature">
    {{inline-svg 'images/icons/legos' class='feature-icon'}}
    <h2 class="headline">
      Powerful addons
    </h2>
    <p class="description">
      Leverage a growing ecosystem to drop in functionality as easily as denali
      install. Addons are extremely flexible; in fact - Denali itself is just
      another Denali addon.
    </p>
    {{#link-to 'addons' class='cta-link'}}
      Browse the Addon ecosystem
      {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
    {{/link-to}}
  </div>

  <div class="feature">
    {{inline-svg 'images/icons/trophy' class='feature-icon'}}
    <h2 class="headline">
      Developer Experience
    </h2>
    <p class="description">
      We've invested heavily in a top-notch developer experience (DX). From
      versioned docs to debugging tools, building with Denali leaves you
      with a smile.
    </p>
    {{#link-to 'docs.guide' 'latest' 'cli/overview' class='cta-link'}}
      Check out the CLI docs
      {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
    {{/link-to}}
  </div>
</div>

<div class="callout">
  <div class="container">
    <div class="copy">
      <h2 class="headline">
        Power when you want it, <br>
        flexibility when you need it.
      </h2>
      <p class='description'>
        Denali is a “layered convention” framework, which means strong
        conventions for common patterns, and exposing lower levels for when you
        need the flexibility.
      </p>
      <p class="description">
        Need to add a simple, straightforward endpoint? Use the powerful tools
        baked in.
      </p>
      <p class="description">
        Want to customize every step of the build tooling? Sure thing, dive right in!
      </p>
      <p class="description">
        Spend time building your app, not the plumbing.
      </p>
    </div>
    <div class="media">
      <img src="/images/feature-graphics/layers.svg" class="bg">
      <div class="tile">
        <h3 class="headline">
          Powerful abstractions
        </h3>
        <p class="description">
          Actions, Denali's controller layer, provide a powerful base to build
          your app on.
        </p>
        {{#link-to 'index' class='cta-link'}}
          Learn more about Actions
          {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
        {{/link-to}}
      </div>
      <div class="tile">
        <h3 class="headline">
          Flexible escape valves
        </h3>
        <p class="description">
          See how the Mailer addon adds custom build steps to support email
          templates
        </p>
        {{#link-to 'index' class='cta-link'}}
          Learn how to customize your build
          {{inline-svg 'images/icons/link-arrow' class='link-arrow'}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="testimonial">
    <div class="quote">
      Haha, oh god, I love Denali ...
    </div>
    <div class="attribution">
      <img src="/images/testimonials/avatar-chris-watts.jpg" alt="Chris Watts" class="avatar">
      <div class="details">
        <div class="name">Chris Watts</div>
        <div class="title">Founder @ Shuffl</div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="quote">
      Denali is the most exciting thing we've seen in the Node ecosystem in a while
    </div>
    <div class="attribution">
      <img src="/images/testimonials/avatar-chris-ball.png" alt="Chris Ball" class="avatar">
      <div class="details">
        <div class="name">Chris Ball</div>
        <div class="title">Managing Partner @ Echobind</div>
      </div>
    </div>
  </div>
</div>

<div class="users">
  <div class="container">
    <h3 class="headline">Companies Using Denali</h3>
    <div class="logos">
      <img src="/images/users/logo-shuffl.png" alt="Shuffl Logo" class="logo">
      <img src="/images/users/logo-echobind.png" alt="Echobind Logo" class="logo">
    </div>
  </div>
</div>